<h1>Showing Workout Details</h1>

<div class="well">Diration (min) : <%= @exercise.duration_in_min %></div>
<div class="well">Workout Details : <%= @exercise.workout %></div>
<div class="well">Activity Date : <%= @exercise.workout_date %></div>
